@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --dnd-item-width: 100%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #050404;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.drag-overlay-fix {
  max-width: var(--dnd-item-width);
  width: 100%;
  overflow: hidden !important;
}
